# Habilitar el reescribir URL
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir solicitudes HTTP a HTTPS
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirigir todas las solicitudes a un archivo de enrutamiento (por ejemplo, index.php)
    RewriteRule ^ index.php [L]
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]

</IfModule>
